// VARIABLES

$header-height = 70px + $margin-basic + $margin-small
$footer-height = 17px + $margin-basic + $margin-small

#main-content
  min-height: calc('100vh - ' + ( $header-height + $footer-height ))

// ******************************************************

// FORM 

#currency-select
  margin-left: $margin-tiny