// VARIABLES

$header-height = 123px + $margin-basic + $margin-small
$footer-height = 24px + $margin-basic + $margin-small

#main-content
  min-height: calc('100vh - ' + ( $header-height + $footer-height ))